<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="refresh" content="5;url={% url 'index' %}">  
    <title>密码修改成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body onload="run()">
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo">密码修改成功！</h1>
            <p>将在<span id="spanId"> </span>秒后跳转回主页</p>
        </div>
    </div>
</div>
</body>
 <script type="text/javascript">  
            var x = 5;  
            function run(){  
                var span = document.getElementById("spanId");  
                    span.innerHTML = x;  
                    x--;  
                    window.setTimeout(run,1000);  
                    /* 上面一句也可以用以下替换  
                    window.setTimeout("run()",1000);*/  
            }  
              
      </script>  
</html>